main {}
main .blackpink #blpin_bg {
    background: linear-gradient(180deg, rgba(255,255,255,1) 37.5%, rgba(228,136,161,1) 100%);
    background-size: 400%;
}
main .artist {
    padding-top:100px;
    /* background-color: aqua; */
    height: 1028px;
    width:calc(100% - 60px); margin:0 auto;
    
}
main .artist h1 {
    font-size: 3.1rem; font-weight: 800;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}
main .artist .artistWrap {
    display: flex; flex-flow:row nowrap;
    align-items: center;
}
main .artist .artistWrap .a_left {padding-left:100px;}
main .artist .artistWrap .a_left button:last-child {margin-bottom: 0;}
main .artist .artistWrap .a_left button:after {
    content:''; display:block;
    height: 1px; width: 682px; background-color: #000;
    position: absolute; bottom:-50px;
    
}
main .artist .artistWrap .a_left button:hover::after {}
main .artist .artistWrap .a_left button {
    display:block;
    background:none ;
    font-size: 4rem;
    margin: 80px 0 100px 0;
    font-weight: 500;
}
main .artist .artistWrap .a_right {
    position:absolute; top:250px; right:100px;
}
main .artist .artistWrap .a_right img {}
main .blackpink {}
main .blackpink #blpin_bg {}
main .blackpink #blpin_bg .mv {
    padding-top:200px;
    width:calc(100% - 60px); margin:0 auto;
}
main .blackpink #blpin_bg .mv h1 {
    font-size: 3.1rem; font-weight: 800;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
}
main .blackpink #blpin_bg .mv iframe {
    width:100%; height: 800px;
    margin-top:80px ;
}
main .blackpink #blpin_bg .mv .mvTxt {
    text-align: center;
}
main .blackpink #blpin_bg .mv .mvTxt h2 {font-size: 3.1rem; font-weight: 700;}
main .blackpink #blpin_bg .mv .mvTxt p {margin-top:80px;}
main .blackpink #blpin_bg .mv .mvTxt p:first-child {font-size: 1.3rem; font-weight: 600;}
main .blackpink #blpin_bg .mv .mvTxt p:nth-child(3),
main .blackpink #blpin_bg .mv .mvTxt p:nth-child(4),
main .blackpink #blpin_bg .mv .mvTxt p:nth-child(5) {font-size: 1.7rem; line-height: 40px;}
main .blackpink #blpin_bg .music {padding-top:200px;}
main .blackpink #blpin_bg .music h1 {
    font-size: 3.1rem; font-weight: 800;
    padding-bottom: 30px;
    border-bottom: 1px solid #000;
    width:calc(100% - 60px); margin:0 auto;
}
.swiper-slide-active {margin-top: -50px;}
main .blackpink #blpin_bg .music #music_slide {padding-top:150px;}
main .blackpink #blpin_bg .music #music_slide .swiper-slide {transition: all 0.3s ease;}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper {}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .swiper-slide {}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .swiper-slide { }
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .swiper-slide a {display: block; width:400px; height: 400px;}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .slide1 a {background-image: url(../images/album2_04.jpg);}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .slide2 a {background-image: url(../images/album2_03.jpg);}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .slide3 a {background-image: url(../images/album2_05.jpg);}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .slide4 a {background-image: url(../images/album2_01.jpg);}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .slide5 a {background-image: url(../images/album2_02.jpg);}
main .blackpink #blpin_bg .music #music_slide .swiper-wrapper .swiper-slide a:hover {}
main .blackpink #blpin_bg .music .musicBtm {
    display: flex; flex-flow: column nowrap;
    align-items: center;
}
main .blackpink #blpin_bg .music .musicBtm .musicTxt {
    display: flex;
    padding-top: 80px;
}
main .blackpink #blpin_bg .music .musicBtm .musicTxt p:hover {color:#E488A1;}
main .blackpink #blpin_bg .music .musicBtm .musicTxt p {font-size:3.1rem; font-weight:700;
    background-color: #000;
    color:#fff;
    width:316px; height: 75px;
    text-align: center;
    padding-top: 15px;
}
main .blackpink #blpin_bg .music .musicBtm .musicTxt p:nth-child(1) {margin-right: 20px;}
main .blackpink #blpin_bg .music .musicBtm .musicTxt p:nth-child(2) {}
main .blackpink #blpin_bg .music .musicBtm .musicbar span {
    display: block;
    background-color: #000;
    width:734px; height: 5px;
    margin: 80px 0;
    border-radius: 5px;
}
main .blackpink #blpin_bg .btm_bg {
    background: url(../images/list_bg.png) no-repeat;
    background-size: 100%;
    width:1920px; height:1290px;
}