/* up */
#up {position: fixed; right:30px; bottom: 45px; width: 40px; height: 40px;}
#up img {}
/* header */
header {
    width:100%;
    margin:0 auto;
    background-color: #fff;
    display:flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 95px;
    position:relative; left:0; top:0; z-index:999;
    padding:0 25px;
}
header .menu {}
header .menu #mainMenu {
    background: none;
    position:relative;
    z-index: 100;
    width:40px; height: 30px; 
}
header .menu #mainMenu > * {margin-bottom: 8px;}
header .menu #mainMenu span:first-child { top:0;}
header .menu #mainMenu span:nth-of-type(2) {top:10px;}
header .menu #mainMenu span:last-child { top:20px;}
/* hover */
/* header .menu #mainMenu:hover span:first-child {transform:rotate(45deg); top:0;}
header .menu #mainMenu:hover span:nth-of-type(2) {opacity: 0;}
header .menu #mainMenu:hover span:last-child {transform:rotate(-45deg); top:0;} */
header .menu #mainMenu span {
    transition:all 0.3s;
    position: absolute;
    display: block;
    width:40px; height: 4px; 
    /* background-color: #fff; */
    background-color: black;
    /* background-color: #30E413; */
}
header .menu #mainMenu span:nth-child(1) {}
header .menu #mainMenu span:nth-child(2) {}
header .menu #mainMenu span:nth-child(3) {}
/* menu toggle */
.first {transform:rotate(45deg); top:0 !important;}
.second {transform:rotate(-45deg); top:0 !important;}
.opacityzero {opacity: 0 !important;}
.color {background-color: #fff !important;}
.fixed {position: fixed !important;}
/* nav */
header .menu nav {
    display:flex; flex-flow: column nowrap;
    position:fixed; top:0; left:50%; transform:translateX(-50%);
    background-color: rgba(0,0,0,0.85);
    z-index:100;
    width:100%; height:100vh;
    overflow-y:auto; 
    padding-top: 100px;
    overflow: hidden;
    z-index: 10;
}
header .menu nav a::after {
    content:''; display: block;
    margin: 0 auto;
    width:730px; height:2px; background-color: #30E413;
    position:absolute; bottom:-27px;
    left:50%; transform:translateX(-50%) scale(0);
    transition:transform 0.5s;
}
header .menu nav a:hover::after{transform:translateX(-50%) scale(1);}
header .menu nav a {
    font-size: 2.3rem;
    text-align: center;
    color:#fff;
    margin-bottom: 60px;
    position:relative;

}
header .mainLogo {transform:translateX(100%);}
header .mainLogo img {width:130px; height: 69px;}
header .h_right {
    display: flex;
}
header .h_right #searchFrm {
    
}
header .h_right #searchFrm fieldset {
    position: relative;
}
header .h_right #searchFrm fieldset #searchTxt::placeholder {
    color:#fff;
    
}
header .h_right #searchFrm fieldset #searchTxt {
    background-color: #000;
    padding-left:44px;
    color:#fff;
    width:321px; height:55px;
    border-radius: 30px;
    
}
header .h_right #searchFrm fieldset #searchBtn {
    background: none;
    position:absolute; top:18px; left:15px;
}
header .h_right #searchFrm fieldset #searchBtn img {}
header .h_right #lang {
    text-align: center;
    width:70px; height: 31px;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 10px;
}
header .h_right #lang option {}
.activeFlex {display:flex !important;}

/* footer */
footer {
    background-color: #000;
    color: #fff;
    height:236px;
    padding:58px 30px;
}
footer .f-top {
    display: flex; justify-content: space-between;
}
footer .f-top .t-left {}
footer .f-top .t-left a:hover {color:#30E413;}
footer .f-top .t-left a {
    display: inline-block;
    color:#fff;
    font-size: 1rem; font-weight: 300;
    margin-right:25px;
}
footer .f-top .t-right a:nth-of-type(1) {background-image: url(../images/sns/icon_sns_01.png);}
footer .f-top .t-right a:nth-of-type(2) {background-image: url(../images/sns/icon_sns_02.png);}
footer .f-top .t-right a:nth-of-type(3) {background-image: url(../images/sns/icon_sns_03.png);}
footer .f-top .t-right a:nth-of-type(4) {background-image: url(../images/sns/icon_sns_04.png);margin-right:0px;}
footer .f-top .t-right a {
    display: inline-block;
    text-indent:-9999px;
    background: no-repeat;
    width:35px; height: 35px;
    margin-right: 10px;
}
footer .f-top .t-right a:nth-of-type(1):hover {background-image: url(../images/sns/icon_sns_h_01.png);}
footer .f-top .t-right a:nth-of-type(2):hover {background-image: url(../images/sns/icon_sns_h_02.png);}
footer .f-top .t-right a:nth-of-type(3):hover {background-image: url(../images/sns/icon_sns_h_03.png);}
footer .f-top .t-right a:nth-of-type(4):hover {background-image: url(../images/sns/icon_sns_h_04.png);}
footer .f-btm {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    margin-top: 40px;
}
footer .f-btm h1 {
    margin-right:10px;
    
}
footer .f-btm h1 img {width:85px; height: 62px;}
footer .f-btm p {
    font-size: 1rem; font-weight: 300; line-height: 25px;
}