/* header */
header, .wrap, #news_slide {
    width:calc(100% - 60px);
    margin:0 auto;
}
header {
    background-color: pink;
    display:flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
header .menu {}
header .menu #mainMenu {
    background-color: aqua;
}
header .menu #mainMenu > * {margin-bottom: 8px;}
header .menu #mainMenu span {
    display: block;
    width:40px; height: 5px; background-color: black;
}
header .menu #mainMenu span:nth-child(1) {}
header .menu #mainMenu span:nth-child(2) {}
header .menu #mainMenu span:nth-child(3) {}
header .menu nav {display:none;}/* 메뉴 숨기기 */
header .menu nav a {}
header .mainLogo {}
header .mainLogo img {width:130px; height: 69px;}
header .h_right {
    display: flex;
}
header .h_right #searchFrm {
    
}
header .h_right #searchFrm fieldset {
    position: relative;
}
header .h_right #searchFrm fieldset #searchTxt::placeholder {
    color:#fff;
    padding-left:44px;
}
header .h_right #searchFrm fieldset #searchTxt {
    background-color: #000;
    width:321px; height:55px;
    border-radius: 30px;
    
}
header .h_right #searchFrm fieldset #searchBtn {
    background: none;
    position:absolute; top:18px; left:15px;
}
header .h_right #searchFrm fieldset #searchBtn img {}
header .h_right #lang {}
header .h_right #lang option {}
/* main */
main {}
main video {}
/* 메인 배너 */
main .m_bnr {width: 100%;}
main .m_bnr .m_bnr_bg {
    background: url(../images/main_bnr_bg.jpg) no-repeat;
    
}
main .m_bnr .m_bnr_bg img {}
main .m_bnr .m_bnr_bg img:first-child {}
main .m_bnr .m_bnr_bg img:last-child {}
main .wrap {}
main .wrap h2 {font-size: 2.3rem; font-weight: 800; letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 50px;
}
main .wrap .contents > * {
    width:400px; height:400px;
    background-color: #f1f1f1;
    margin-right:26px;
}
main .wrap .contents {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
}
main .wrap .contents .notice {
    border: 2px solid #ddd;
    position: relative;
}
main .wrap .contents .notice p {}
main .wrap .contents .notice .Fbtn {
    background: none;
    padding:20px; font-size: 1.7rem; letter-spacing: -0.02em;
    border:1px solid #000;
    position:absolute; bottom:76px; left:130px; color:#30E413;
}
main .wrap .contents .artist {}
main .wrap .contents .artist .artist_bg {
    background: url(../images/artist.png) no-repeat;
    width:400px; height:400px;
    background-size: cover;
    position:relative;
    border:2px solid #ddd;
}
main .wrap .contents .artist .artist_bg p {}
main .wrap .contents .artist .artist_bg .Fbtn {
    background: none;
    padding:20px; font-size: 1.7rem; letter-spacing: -0.02em;
    border:1px solid #000;
    position:absolute; bottom:76px; left:130px; color:#30E413;
}
main .wrap .contents .actor {
    width:400px; height:400px;
    position: relative;
}
main .wrap .contents .actor .actor_bg {
    background: url(../images/actor.png);
    width:400px; height:400px;
    background-size: cover;
    position:relative;
    border:2px solid #ddd;
}
main .wrap .contents .actor .actor_bg p {}
main .wrap .contents .actor .actor_bg .Fbtn {
    background: none;
    padding:20px; font-size: 1.7rem; letter-spacing: -0.02em;
    border:1px solid #000;
    position:absolute; bottom:76px; left:130px; color:#30E413;
}
/* yg life */
main #life_slide {}
main #life_slide .swiper-wrapper {}
main #life_slide .swiper-wrapper .swiper-slide {}
main #life_slide .swiper-wrapper .slide1 {}
main #life_slide .swiper-wrapper .slide2 {}
main #life_slide .swiper-wrapper .slide3 {}
main #life_slide .swiper-wrapper .swiper-slide p {}
main #life_slide .swiper-wrapper .swiper-slide p img {}
/* yg news */
main #news_slide {}
main #news_slide .swiper-wrapper {}
main #news_slide .swiper-wrapper .swiper-slide {}
main #news_slide .swiper-wrapper .swiper-slide img {}
main #news_slide .swiper-wrapper .slide1 {}
main #news_slide .swiper-wrapper .slide2 {}
main #news_slide .swiper-wrapper .slide3 {}
main #news_slide .swiper-wrapper .slide4 {}
main #news_slide .swiper-wrapper .slide5 {}
main #news_slide .swiper-scrollbar {}
/* footer */
footer {}
footer .f-top {}
footer .f-top .t-left {}
footer .f-top .t-left p {}
footer .f-top .t-right {}
footer .f-top .t-right a {}
footer .f-btm {}
footer .f-btm h1 {}
footer .f-btm h1 img {}
footer .f-btm p {}