/* main */
main {}
main .mainVideo {height:769px;}
main .mainVideo video {width:100%;height:769px;}
/* 메인 배너 */
main .m_bnr {overflow: hidden;}
main .m_bnr .m_bnr_bg {
    background-image: url(../images/main_bnr_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    width:100%; height:867px;
    position:relative;
}
main .m_bnr .m_bnr_bg .m_bnrTxt > * {margin-bottom: 23px;}
main .m_bnr .m_bnr_bg .m_bnrTxt {
    position:absolute; top:530px; right:30px;
    display: flex; flex-flow:column nowrap;
    align-items: flex-end;
}
main .m_bnr .m_bnr_bg .m_bnrTxt span:first-child {margin-right:8px;}
main .m_bnr .m_bnr_bg .m_bnrTxt .dot span {
    display: inline-block; background-color: #fff;
    width:13px; height: 13px;
    border-radius: 50%;
}
main .m_bnr .m_bnr_bg .m_bnrTxt h3 {
    font-size:1.7rem;
    line-height: 30px;
    color:#fff;
    text-align: right;
}
main .m_bnr .m_bnr_bg .m_bnrTxt p {
    font-size:1.1rem;
    line-height: 35px;
    font-weight: 500;
    color:#fff;
    text-align: right;
}
main .m_bnr .m_bnr_bg .m_bnrTxt p em {font-size:1.1rem; font-weight: 600;}
main .m_bnr .m_bnr_bg .bnrTxtbg {
    background-image:url(../images/m_bnr_txt1.png);
    background-repeat: repeat-y;
    width:100%; height: 2000%;
    position: absolute; top:0; left:93px;
    animation: txt1 9s linear alternate-reverse infinite;
}
@keyframes txt1 {
    0% {transform:translateY(0);}
    100% {transform:translateY(-1000px);}
}
main .m_bnr .m_bnr_bg img {
    position:absolute; top:270px; right:152px;
    animation: txt2 10s infinite linear;
}
@keyframes txt2 {
    0% {transform:rotate(0);}
    100% {transform: rotate(360deg);}
}
main .wrap {
    padding-top: 200px;
    width:calc(100% - 60px);
    margin:0 auto;
}
main .wrap h2 {font-size: 2.3rem; font-weight: 800; letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 50px;
}
main .wrap .contents > * {
    width:600px; height:600px;
    background-color: #f1f1f1;
    margin-right:26px;
}
main .wrap .contents {
    display: flex; flex-flow: row nowrap;
    justify-content: center;
}
main .wrap .contents .notice {
    border: 2px solid #ddd;
    position: relative;
    padding:10px;
}
main .wrap .contents .notice .notice_con {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin:30px 25px;
}
main .wrap .contents .notice .notice_con .conTxt {overflow: hidden;}
main .wrap .contents .notice .notice_con .conTxt a:hover {color: #30E413;}
main .wrap .contents .notice .notice_con .conTxt a {
    font-size: 1.3rem; line-height: 25px;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 30px;
}
main .wrap .contents .notice .notice_con .conDate {margin-right: 25px;}
main .wrap .contents .notice .notice_con .conDate p {
    font-size: 1.3rem; line-height: 25px; margin-bottom: 30px;
}
main .wrap .contents .notice .Fbtn:hover {background-color: #000;}
main .wrap .contents .notice .Fbtn {
    background-color:#fff ;
    padding:20px; font-size: 1.7rem; letter-spacing: -0.02em;
    border:1px solid #000;
    position:absolute; bottom:76px; left:222px; color:#30E413;
}
main .wrap .contents .artist {}
main .wrap .contents .artist .artist_bg {
    background: url(../images/artist.png) no-repeat;
    width:600px; height:600px;
    background-size: cover;
    position:relative;
    border:2px solid #ddd;
}
main .wrap .contents .artist .artist_bg p {}
main .wrap .contents .artist .artist_bg .Fbtn:hover {background-color: #000;}
main .wrap .contents .artist .artist_bg .Fbtn {
    background-color:#fff ;
    padding:20px; font-size: 1.7rem; letter-spacing: -0.02em;
    border:1px solid #000;
    position:absolute; bottom:76px; left:222px; color:#30E413;
}
main .wrap .contents .actor {
    position: relative;
}
main .wrap .contents .actor .actor_bg {
    background: url(../images/actor.png);
    width:100%; height:600px;
    background-size: cover;
    position:relative;
    border:2px solid #ddd;
}
main .wrap .contents .actor .actor_bg p {}
main .wrap .contents .actor .actor_bg .Fbtn:hover {background-color: #000;}
main .wrap .contents .actor .actor_bg .Fbtn {
    background-color:#fff ;
    padding:20px; font-size: 1.7rem; letter-spacing: -0.02em;
    border:1px solid #000;
    position:absolute; bottom:76px; left:222px; color:#30E413;
}
/* yg life */
main .wrap2 {
    height: 742px;
    background-color: #000;
    margin-top: 200px;
    
}
main .wrap2 h2 {
    font-size: 2.3rem; font-weight: 800; letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 50px;
    color:#30E413;
    padding-top: 50px;
}

main .wrap2 #life_slide {}
main .wrap2 #life_slide .swiper-wrapper {}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide {
    position: relative;
}
main .wrap2 #life_slide .swiper-wrapper .slide1 {}
main .wrap2 #life_slide .swiper-wrapper .slide2 {}
main .wrap2 #life_slide .swiper-wrapper .slide3 {}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide .slide_contents {
    height: 448px; width: 100%;
    
}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide .slide_contents .slide_img {width:800px; height: 450px;}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide .slide_contents .slide_img img {
    width:800px; height: 450px;
    position:absolute; top:0; left:300px;
}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide .slide_contents .slide_txt {
    width:550px; height:354px;
    background-color: #f1f1f1;
    border:2px solid #000;
    position: absolute; top:50px; right:300px;
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide .slide_contents .slide_txt span {
    font-size:2.3rem; font-weight: 600;
    line-height: 44px;
}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide .slide_contents .slide_txt em {
    font-size: 1.3rem;
    /* background-color: aqua; */
    display: block;
    line-height: 35px;
    margin-top: 20px;
}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide .slide_contents .slide_txt a:hover {
    color:#fff;
    background-color: red;
}
main .wrap2 #life_slide .swiper-wrapper .swiper-slide .slide_contents .slide_txt a {
    margin-top: 20px;
    text-align: center;
    display: block;
    font-size:1.3rem;
    width:105px; height: 43px;
    padding:11px;
    background-color: #000;
    color:#30E413;
    border-radius: 20px;
}
main .wrap2 #life_slide .swiper-button-prev {
    background:url(../images/prev_green.png) no-repeat;
    width:60px; height: 60px;
}
main .wrap2 #life_slide .swiper-button-next {
    background: url(../images/next_green.png) no-repeat;
    width:60px; height: 60px;
}
main .wrap2 #life_slide .swiper-button-prev::after,
main .wrap2 #life_slide .swiper-button-next::after {display: none;}
/* yg news */
main #News {
    margin-bottom: 200px;
    position: relative;
}
main #News h2 {
    font-size: 2.3rem; font-weight: 800; letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 200px;
}
#news_slide .swiper-slide {
    transition: all 0.3s linear;
    
}
#news_slide .swiper-slide-active {
    transform: scale(1.1);
    filter:drop-shadow(0 0 6px gray);
}
main #News #news_slide {overflow: visible;}
main #News #news_slide .swiper-wrapper {}
main #News #news_slide .swiper-wrapper .swiper-slide {}
main #News #news_slide .swiper-wrapper .swiper-slide a {
    display: block;
    width:330px; height:396px;
    margin-left:25px;
}
main #News #news_slide .swiper-wrapper .slide1 a {background-image: url(../images/m_news_1.jpg);}
main #News #news_slide .swiper-wrapper .slide2 a {background-image: url(../images/m_news_2.jpg);}
main #News #news_slide .swiper-wrapper .slide3 a {background-image: url(../images/m_news_3.jpg);}
main #News #news_slide .swiper-wrapper .slide4 a {background-image: url(../images/m_news_4.jpg);}
main #News #news_slide .swiper-wrapper .slide5 a {background-image: url(../images/m_news_5.jpg);}
main #News .swiper-scrollbar {
    position:absolute;
    background: #000; width: 500px;
    left:50%; bottom: -80px; transform:translateX(-50%);
}   /* 스크롤 배경(크기, 위치o) */
main #News .swiper-scrollbar-drag {background-color: #30E413;}